*.tar*
*.zip*
*.7z*
*.rar*

0*.sh*
0*.zsh*
0*.fish*
0*.ps1*
0*.bat*

*.exe
*.msi
*.msixbundle

*.deb
*.rpm
*.pkg.tar.zst
*.flatpak
*.flatpakref
*.[Aa][Pp][Pp][Ii][Mm][Aa][Gg][Ee]
*.[Bb][Uu][Nn][Dd][Ll][Ee]
*.run

*.dmg
*.pkg

files
my_themes

.gitconfig
.ssh
*.pub
*.rsa