[Unit]
Description=KDE Time-based Theme Changer

[Service]
ExecStart=/usr/local/bin/KThemeSwitch
Restart=always
RestartSec=60

[Install]
WantedBy=default.target